.hero {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  
}

.heroContainer {
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  z-index: 1;
  max-width: 600px;
}

.heroTitle {
  padding: var(--spacing-md);
  text-align: right;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  color: var(--color-text);
  margin-bottom: var(--spacing-xs);
}

.heroSubtitle {
  font-size: 1.25rem;
  color: var(--color-text);
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
  text-align: center;
}



.scrollSpacer {
  height: 200px; /* full viewport height */
  background-color: rgba(0, 0, 0, 0.144);
}

.contactBtn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 2px;
  background-color: #b9ab6a86; /* button color */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: var(--font-links);
  letter-spacing: 0.05em;
  text-decoration: none; /* removes underline */
  transition: background-color 0.2s ease-in-out, transform 0.1s;
}

.downloadBtn:hover {
  background-color: #4fa1822d; /* darker on hover */
  transform: translateY(-2px);
}

.downloadBtn:active {
  background-color: #91927f; /* pressed state */
  transform: translateY(0);
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.aboutContainer {
  flex: 1;
  padding: var(--spacing-lg);
  min-width: 280px;
  color: var(--color-text);
  backdrop-filter: blur(4px);
  border-radius: 5px;

}

.aboutTitle {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: var(--spacing-sm);
}

.aboutDescription {
  font-size: 1.15rem;
  margin-top: var(--spacing-xs);
}

.aboutImg {
  flex: 0 0 auto;
  padding: var(--spacing-sm);
}

.aboutImg:hover img {
  box-shadow: 6px 4px 15px rgba(0, 0, 0, 0.459);
  transform: scale(1.05);
  transition: transform 0.3s, box-shadow 0.5s;

}

.aboutImg img {
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.329);
  background-color: rgba(0, 0, 0, 0.11);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

@media (max-width: 700px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .aboutImg img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}

