
.navbar{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgb(0,0,0);
  color: white;
  font-size: 0.9rem;
  z-index: 1000;
}

.navLinks{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

@media  screen and (min-width: 768px ) {
.navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 120px;

  background-color: rgba(0,0,0,0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-left: 2px solid rgb(0,0,0);
  color: white;
  font-size: 0.9rem;
  z-index: 1000;
}
.navLinks {
  margin-top: auto;
  margin-bottom: 20vh;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}
}



.link {
  color: white;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: block;
  letter-spacing: 0.05em;
  font-family: var(--font-links);
}

.link:hover {
  color: #000000;
}
